<html ng-app="myapp">
<head>
</style>
<script src="js/angular.min.js"></script>
</head>
<body ng-controller="mainController" style="background:grey;">           
	<table>
		<tr ng-repeat="i in data">
			<td ng-repeat="j in i track by $index" style="background:rgb({{j}},{{255-j}},{{255-j}});width:{{w}}px; height:{{h}}px"> </td>
		</tr>
	</table>              
<script>
(function(){
angular.module('myapp',[])
	.controller('mainController',function($scope,$timeout,$window){                           
		$scope.counter=0;$scope.m = 10;$scope.n = 20;                               
		$scope.h = parseInt($window.innerHeight/$scope.m);
		$scope.w = parseInt($window.innerWidth/$scope.n);
		$scope.data=[];
		for(var i=0;i<$scope.m;i++){
			$scope.data[i]=[];
		}                              
		$scope.render = function(){
			$scope.counter++;                                          
			for(var x=0;x<$scope.m;x++){
				for(var y=0;y<$scope.n;y++){
					r=radius(x-$scope.m/2,y-$scope.n/2);                                                                   
					v=Math.round(125+125*Math.sin(r-$scope.counter/2)/r);
					if(-Infinity == v){v=0;}else if(Infinity == v){v=255;}
					$scope.data[x][y] = v;
				}
			}
			$timeout($scope.render,50);
		};             
		$scope.render();                              
	});           
	function radius(x,y){
		return Math.sqrt(x*x+y*y)
	}
}());        
</script>
</body>
</html>
